@charset "utf-8"
@import "../node_modules/bulma/sass/utilities/initial-variables"
$grey: #758FA5
$grey-invert: #ffffff
$box-radius: 20px
$primary-invert: $grey-invert
@import "../node_modules/bulma/bulma"
